.base {
  z-index: 1;
  background-color: white;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  flex: 75%;
  height: 100vh;
  position: fixed;
  left: 25%;
  width: 73%;
  right: 0;
  overflow: scroll;
}

label {
  font-size: 15px;
  font-weight: bolder;
  text-transform: capitalize;
  color: #7196b1;
  margin-top: 10px;
}
select {
  font-size: 15px;
  border: 0;
  padding: 10px;
  width: 100%;
  /* margin: 10px; */
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: #f1f7fb;
}
::selection {
  color: none;
  background: none;
}
.category {
  background-color: rgb(255, 255, 255);
}

.category__selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.base__category {
  /* display: block; */
}

.base__fields input {
  font-size: 15px;
  border: 0;
  background-color: #f1f7fb;
  padding: 10px;
  width: 60%;
  /* margin: 10px; */
  border-radius: 5px;

  width: 100%;
}

.base__field {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantity__label {
  font-size: 10px;
}

@media only screen and (max-width: 767px) {
  .base {
    background-color: white;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    flex: 75%;
    height: 100vh;
    position: fixed;
    top: 120px;
    width: 97%;
    right: 0px;
    left: 0;
    margin-right: 10px;
  }
}
