.base {
  z-index: 1;
  position: absolute;
  left: 20%;
  background-color: rgb(230, 230, 230);
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
}

table {
  border: 1px;
}
td {
  padding: 10px;
}

label {
  font-size: 20px;
}
select {
  font-size: 15px;
  border: 0;
  padding: 10px;
  width: 60%;
  margin: 10px;
  border-radius: 5px;
}
.category {
  background-color: lightgray;
}

.category__selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.base__category {
  /* background-color: rgb(230, 230, 230);
  height: 100%;
  margin: 10px;
  padding: 20px;
  border-radius: 10px; */
}

.base__fields input {
  font-size: 15px;
  border: 0;
  padding: 10px;
  width: 60%;
  margin: 10px;
  border-radius: 5px;
}

.base__field {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
