.homepage {
  margin: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.homepage__row1 {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.homepage__left {
  flex: 0.4;
}
.homepage__right {
  flex: 0.6;
  margin: 40px;
  text-align: center;
}

.homepage__right > h1 {
  font-weight: bolder;
}

.homepage__right > ol {
  font-weight: bolder;
  margin-top: 10px;
}

.form__switcher {
  text-align: center;
  margin-left: 25px;
}

#cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 500px;
  background-image: url();
  background-size: cover;
  background-position: center;
}

.card {
  width: 30%;
  background-color: white;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

@media (max-width: 767px) {
  .homepage__row1 {
    flex-direction: column;
  }
  .cards_section {
    flex-direction: column;
    font-size: 12px;
  }
  .card {
    width: 100%;
    margin-bottom: 10px;
  }
}

.fancy-footer {
  background-color: #1ca2f1;
  color: #fff;
  padding: 50px 0;
  margin-top: 200px;
}

.fancy-footer h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.fancy-footer p {
  font-size: 18px;
  line-height: 1.6;
}

.fancy-footer h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.fancy-footer ul.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
}

.fancy-footer ul.contact-info li {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 10px;
}

.fancy-footer ul.contact-info li i {
  font-size: 24px;
  margin-right: 10px;
}
