.homepage {
  margin: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.homepage__row1 {
  display: flex;
  flex-direction: row;
}
.homepage__left {
  flex: 0.4;
}
.homepage__right {
  flex: 0.6;
  margin: 20px;
}

.form__switcher {
  text-align: center;
  margin-left: 25px;
}

@media (max-width: 767px) {
  .homepage__row1 {
    flex-direction: column;
  }
}
