.addbalance {
}

.addbalance__balanca {
  text-align: center;
  margin-top: 30px;
  font-size: 35px;
  background-color: #f1f7fb;
  padding: 15px;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 18px;
  font-weight: bolder;
}

.addbalance__field input {
  font-size: 15px;
  border: 0;
  background-color: #f1f7fb;
  padding: 10px;
  width: 60%;
  /* margin: 10px; */
  border-radius: 5px;

  width: 100%;
}

.addbalance__add {
  margin-top: 20px;
  margin-bottom: 20px;
}

.paypal__section {
  margin-top: 30px;
  text-align: center;
}

.paypal__section > button {
  width: 100%;
}
