.app {
}
html {
  background-color: rgb(242, 247, 252);
}

body {
  margin: 0;
}

.flex {
  display: flex;
}
.app__logout {
  margin-top: 60px;
}
.app__login {
  margin-top: 0px;
}

@media only screen and (max-width: 767px) {
  .flex {
    display: flex;
    flex-direction: column;
  }
  .app__main {
    margin-top: 0;
  }
  .app__logout {
    margin-top: 60px;
  }
}
