.app {
}
html {
  background-color: rgb(242, 247, 252);
}

body {
  margin: 0;
}

.flex {
  display: flex;
}
.app__logout {
  margin-top: 60px;
}
.app__login {
  margin-top: 0px;
}

.loader {
  width: 48px;
  height: 48px;
  position: relative;
  display: flex; /* set the container to use the flexbox layout */
  height: 100vh; /* set the height of the container to be 100% of the viewport height */
  align-items: center; /* center the child elements vertically within the container */
  justify-content: center;
  margin: auto;
}
.loader::before,
.loader::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 48em;
  height: 48em;
  background-image: radial-gradient(circle 10px, #8fbdf5 100%, transparent 0),
    radial-gradient(circle 10px, #8fbdf5 100%, transparent 0),
    radial-gradient(circle 10px, #8fbdf5 100%, transparent 0),
    radial-gradient(circle 10px, #8fbdf5 100%, transparent 0),
    radial-gradient(circle 10px, #8fbdf5 100%, transparent 0),
    radial-gradient(circle 10px, #8fbdf5 100%, transparent 0),
    radial-gradient(circle 10px, #8fbdf5 100%, transparent 0),
    radial-gradient(circle 10px, #8fbdf5 100%, transparent 0);
  background-position: 0em -18em, 0em 18em, 18em 0em, -18em 0em, 13em -13em,
    -13em -13em, 13em 13em, -13em 13em;
  background-repeat: no-repeat;
  font-size: 0.5px;
  border-radius: 50%;
  animation: blast 1s ease-in infinite;
}

.loader::after {
  font-size: 1px;
  background: #8fbdf5;
  animation: bounce 1s ease-in infinite;
}

@keyframes bounce {
  0%,
  100% {
    font-size: 0.75px;
  }
  50% {
    font-size: 1.5px;
  }
}
@keyframes blast {
  0%,
  40% {
    font-size: 0.5px;
  }
  70% {
    opacity: 1;
    font-size: 4px;
  }
  100% {
    font-size: 6px;
    opacity: 0;
  }
}

@media only screen and (max-width: 767px) {
  .flex {
    display: flex;
    flex-direction: column;
  }
  .app__main {
    margin-top: 0;
  }
  .app__logout {
    margin-top: 60px;
  }
}
